[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pradote
[access "refs/for/refs/*"]
	read = group user/pradote
	push = group user/pradote
	label-Code-Review = -2..+2 group user/pradote
	label-Verified = -1..+1 group user/pradote
	rebase = group user/pradote
	removeReviewer = group user/pradote
	submit = group user/pradote
[access "refs/heads/*"]
	read = group user/pradote
	create = group user/pradote
	push = +force group user/pradote
	pushMerge = group user/pradote
[access "refs/tags/*"]
	push = group user/pradote
	push = +force group user/pradote
